* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .exercise4 {
    background-color: cyan;
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .exercise5 {
    background-color: rgb(255, 215, 142);
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .exercise6 {
    background-color: lightsalmon;
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .card-flexbox {
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 25px;
    .wholetext {
      width: 500px;
      height: 400px;
      padding: 70px;
      color: white;
      background-color: #3d14b8;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      & > * {
        margin-bottom: 40px;
      }
      &__title {
        letter-spacing: 1px;
        &-span {
          color: purple;
        }
      }
      &__paragraph {
        opacity: 0.6;
        padding-right: 20px;
      }
      .numbers {
        display: flex;
        gap: 30px;
        padding-top: 20px;
        &values {
          &__title {
            margin-bottom: 5px;
            &--center {
              text-align: center;
            }
          }
          &__paragraph {
            opacity: 0.6;
          }
        }
      }
    }
    &__image {
      width: 500px;
      height: 400px;
      background-color: purple;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: linear-gradient(
          115deg,
          rgba(252, 94, 244, 0.8),
          rgba(136, 136, 206, 0.7)
        ),
        url(https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
  
  // COMPONENTS 2
  .justcircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
  }
  .title {
    color: white;
  }
  .paragraph {
    color: white;
    opacity: 0.7;
    padding-right: 30px;
  }
  .button {
    padding: 10px 20px;
    border-radius: 30px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
  }
  // COMPONENTS 2
  
  .net-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1000px;
    margin: 0 auto;
    &--addthings {
      padding: 60px 60px 20px 60px;
      & > * {
        margin-bottom: 40px;
      }
    }
    .firstnet {
      background-color: rgb(209, 136, 0);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      .button--firstnet-button {
        color: rgb(209, 136, 0);
      }
    }
    .secondnet {
      background-color: lightseagreen;
      .button--secondnet-button {
        color: lightseagreen;
      }
    }
    .thirdnet {
      background-color: rgb(2, 112, 2);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      .button--thirdnet-button {
        color: rgb(2, 112, 2);
      }
    }
  }
  
  //  EXERCISE 3
  
  .profile-card {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    &__image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .information-card {
      position: relative;
      &__character {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
        .information-card__mainImage {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          padding: 5px;
        }
      }
      .information-card2 {
        padding-top: 40px;
        text-align: center;
        &__name {
          display: inline-block;
          margin-right: 10px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        &__age {
          display: inline-block;
          font-size: 1.8rem;
          opacity: 0.6;
        }
        &__from {
          margin-bottom: 40px;
          font-size: 1.2rem;
          opacity: 0.6;
          position: relative;
          padding-bottom: 40px;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border: 1px solid black;
            opacity: 0.2;
          }
        }
        .description {
          display: flex;
          justify-content: center;
          gap: 50px;
          &-numbers {
            &__howmuch {
              margin-bottom: 5px;
            }
            &__paragraph {
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
  
  .from-where {
    display: flex;
    gap: 20px;
    & a {
      text-decoration: none;
      color: rgb(52, 138, 252);
      &:hover {
        color: blue;
      }
    }
  }
  
  @media only screen and (max-width: 1500px) {
    .exercise4 {
      width: 100vw;
      height: 100vh;
      .card-flexbox {
        flex-direction: column-reverse;
        border-radius: 25px;
        height: 90vh;
        text-align: center;
        // UNDER EMPTY FIELD
        .wholetext,
        .card-flexbox__image {
          width: 80vw;
        }
        .card-flexbox__image {
          border-top-left-radius: 25px;
          border-bottom-left-radius: 0;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 0;
          height: 30%;
        }
        .wholetext {
          border-top-left-radius: 0;
          border-bottom-left-radius: 25px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 25px;
          height: 70%;
          .numbers {
            flex-direction: column;
            &values {
              margin-top: -10px;
            }
          }
          &__paragraph {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  
    .exercise5 {
      width: 100vw;
      height: max-content;
      .net-grid {
        width: 70vw;
        grid-template-columns: 1fr;
        padding: 50px 0;
        .firstnet {
          background-color: rgb(209, 136, 0);
          border-top-left-radius: 5px;
          border-bottom-left-radius: 0;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 0;
        }
        .thirdnet {
          background-color: rgb(2, 112, 2);
          border-top-left-radius: 0;
          border-bottom-left-radius: 5px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 5px;
        }
      }
    }
  
    .exercise6 {
      width: 100vw;
      height: max-content;
      padding: 50px 0;
    }
    .profile-card {
      width: 70vw;
    }
  }
  